.head {
    background-image: url(../assets/header.svg);
    background-repeat: no-repeat;
    background-size: 100vw auto;
    height: 25vh;
    min-height: 150px;
    width: 100vw;
    border-bottom: 0.5px solid var(--dark-mint);
}


@media (max-width: 759.9px) {
    .title {
        font-size: medium;
        font-weight: bold;
    }
}

@media (min-width: 760px) {
    .title {
        color: black;
    }
}