.dark-mint {
    background-color: var(--dark-mint)
}

.dark-mint-text {
    color: var(--dark-mint)
}

.mint-text {
    color: var(--mint)
}

.mint {
    background-color: var(--mint);
}

.gray {
    color: #838383;
}

.blurb {
    color: var(--dark-peach)
}

.main {
    min-height: 100vh;
}

.content {
    background-image: url(../assets/forefront.png);
    background-repeat: no-repeat;
    background-size: 33rem;
    background-position: left 2rem bottom -3rem;
}

.center-content {
    height: 35vh;
}
