.dark-mint {
    background-color: var(--dark-mint)
}

.dark-mint-text {
    color: var(--dark-mint)
}

.mint-text {
    color: var(--mint)
}

.mint {
    background-color: var(--mint);
    min-width: min-content;
    min-height: min-content;
}

.gray {
    color: #838383;
}

.blurb {
    color: var(--dark-peach)
}

.main {
    min-height: 740px;
    height: 100vh;
}

.center-content {
    height: 35vh;
}

@media (max-width: 575.9px) {
    .content {
        background-image: url(../assets/forefront.svg);
        background-repeat: no-repeat;
        background-size: 28rem;
        background-position: left 50% bottom 5%;
    }
}

@media (min-width: 576px) {
    .content {
        background-image: url(../assets/forefront.svg);
        background-repeat: no-repeat;
        background-size: 33rem;
        background-position: left 2rem bottom -3rem;
    }
}