body {
  margin: 0;
  font-family: "Katari-Regular", Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-mint: rgba(1, 123, 130, 1);
  --dark-peach: rgba(255, 141, 132, 1);
  --header-font-family: "Katari-Regular", Helvetica;
  --header-font-size: 36px;
  --header-font-style: normal;
  --header-font-weight: 400;
  --header-letter-spacing: 0px;
  --header-line-height: normal;
  --mint: rgba(143, 219, 215, 1);
  --peach: rgba(255, 186, 163, 1);
}
